apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuaySecretEngineRole
metadata:
  name: vault-quay-secret-engine-role
  namespace: vault-admin
spec:
  authentication: 
    path: kubernetes
    role: policy-admin
  path: quay
  namespaceName: {{ quay_org }}
  createRepositories: true
  defaultPermission: write
  TTL: "8760h" #1 year
  